<div class="navbar bg-white color-black">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link backToIndex color-black"> <i class="icon icon-arrow_back"></i></a>
        </div>
        <div class="center sliding">{{Name}}</div>            
        <!-- Sub navbar -->
        <div class="subnavbar">
            <div class="buttons-row">
                <a href="#" class="button tab-link " data-id="asset.status" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG07}}</span>
                </a>
                <a href="#" class="button tab-link " data-id="asset.alarm" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ALARM_MSG01}}</span>
                </a>
                <a href="#" class="button tab-link active" data-id="asset.playback" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG08}}</span>
                </a>
                <a href="#" class="button tab-link" data-id="asset.track" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG09}}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="pages">
    <div class="page with-subnavbar playback_page" data-page="asset.playback">
        <div class="page-content">        
            <div class="content-block accordion-list custom-accordion">                
                <div class="accordion-item accordion-item-start accordion-item-expanded">
                    <div class="accordion-item-toggle  ">                        
                        <span class="color-black">{{@global.LANGUAGE.ASSET_PLAYBACK_MSG02}}</span>
                        <span class="picker-date-start-text color-boatwatch"></span>
                    </div>
                    <div class="accordion-item-content">
                        <div style="padding:0; margin-right:-15px; width:auto;" class="content-block-inner">
                            <div style="margin:0; visibility: hidden;" class="list-block">
                                <ul style="border-top:none">
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-input">
                                                    <input type="text" placeholder="Date Time" readonly name="picker-date-start" id="picker-date-start" class="picker-date-start">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div style="margin-top: -52px;" id="picker-date-start-container" class="picker-date-start-container"></div>
                        </div>
                    </div>
                </div>            
                <div class="accordion-item accordion-item-end">
                    <div class="accordion-item-toggle  ">                        
                        <span class="color-black">{{@global.LANGUAGE.ASSET_PLAYBACK_MSG03}}</span>
                        <span class="picker-date-end-text color-boatwatch"></span>
                    </div>
                    <div class="accordion-item-content">
                        <div style="padding:0; margin-right:-15px; width:auto;" class="content-block-inner">
                            <div style="margin:0; visibility: hidden;" class="list-block">
                                <ul style="border-top:none">
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-input">
                                                    <input type="text" placeholder="Date Time" readonly name="picker-date-end" id="picker-date-end" class="picker-date-end">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div style="margin-top: -52px;" id="picker-date-end-container" class="picker-date-end-container"></div>
                        </div>
                    </div>
                </div>
            </div>

        	<div class="content-block">
                <a href="#" class="button button-fill button-big bw_btn_show">{{@global.LANGUAGE.COM_MSG12}}</a>
                <a href="#" class="button button-fill button-big bw_btn_show_24h">{{@global.LANGUAGE.COM_MSG13}}</a>
            </div>
                
        	

        </div>
    </div>
</div>

