<div class="navbar">
   	<div class="navbar-inner">
   	  	<div class="left">
           	<a href="#" class="link backToIndex"> <i class="icon icon-arrow_back"></i></a>
           </div>
   		<div class="left sliding">{{Name}}</div>
   		<div class="right sliding">    			
   			<a href="#" class="link color-boatwatch saveAlarm"><i class="icon icon-apply"></i></a> 
   		</div>
   		<!-- Sub navbar -->
        <div class="subnavbar">
           	<div class="buttons-row">
           		<a href="#" class="button tab-link " data-id="asset.status" data-href="">
           		    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG07}}</span>
           		</a>
           		<a href="#" class="button tab-link active" data-id="asset.alarm" data-href="">
           		    <span class="tabbar-label">{{@global.LANGUAGE.ALARM_MSG01}}</span>
           		</a>
           		<a href="#" class="button tab-link" data-id="asset.playback" data-href="">
           		    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG08}}</span>
           		</a>
           		<a href="#" class="button tab-link" data-id="asset.track" data-href="">
           		    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG09}}</span>
           		</a>
           	</div>
        </div>
   	</div>
</div>

<div class="pages">
	<div class="page with-subnavbar alarm_page" data-page="asset.alarm">
	  	<div class="page-content">  
	  		<div class="list-block no-hairlines  media-list list-block-selectall">
                <ul>
                    <li class="item-content ">	            	           		
		           		<div class="item-inner">
		            		<div class="item-title-row">
		            	  		<div class="item-title ">{{@global.LANGUAGE.ALARM_MSG06}}</div>
		            	  		<div class="item-after">
		            	  			<label class="label-switch  ">
			            	  			<input type="checkbox" name="checkbox-alarm" {{#if alarm}}checked="checked"{{/if}}>
			              				<div class="checkbox"></div>
			              			</label>
		            	 		</div>
		            	  	</div>
		            	</div>	            	
		            </li>
                </ul> 
            </div>		
	  		<div class="list-block media-list alarm_list"> 
	  				
	  			<ul>
	  				<!-- <li class="item-content alarm_title">	            	           		
	  						           		<div class="item-inner">
	  						            		<div class="item-title-row">
	  						            	  		<div class="item-title color-boatwatch">{{@global.LANGUAGE.ALARM_MSG06}}</div>
	  						            	  		<div class="item-after">
	  						            	  			<label class="label-switch  ">
	  							            	  			<input type="checkbox" name="checkbox-alarm" {{#if Alarm}}checked="checked"{{/if}}>
	  							              				<div class="checkbox"></div>
	  							              			</label>
	  						            	 		</div>
	  						            	  	</div>
	  						            	</div>	            	
	  						            </li> -->
		           
	  				<li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-bilge" value="131072" {{#if bilge}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG02}}</div>		            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-geofenceIn" value="8" {{#if geofenceIn}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG12}}</div>		            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-geolock" value="1024" {{#if geolock}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG05}}</div>		            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-accOff" value="65536" {{#if accOff}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG10}}</div>		            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-accOn" value="32768" {{#if accOn}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG11}}</div>		            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-geofenceOut" value="16" {{#if geofenceOut}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG13}}</div>		            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            <li >
		            	<label class="label-checkbox item-content  " >
		            		<input type="checkbox" name="checkbox-power" value="4" {{#if power}}checked="checked"{{/if}}>
		            		<div class="item-media">
		            			<i class="icon icon-form-checkbox"></i>
							</div>
		            		<div class="item-inner">
		            			<div class="item-title">{{@global.LANGUAGE.ALARM_MSG03}}</div>		            	  	  	
		            	  	</div>
		            	</label>
		            </li>
		            
		            
		        </ul>
		        
	  		</div>

	  		<!-- <div class="content-block">
	  					<div class="buttons-row">
	  						<div class="button button-fill bg-boatwatch alarmSave">{{@global.LANGUAGE.COM_MSG00}}</div>
	  						
	  					</div>
	  				</div> -->
			
	  	</div>
		
	</div>
</div>
